* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Ubuntu, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid black;
}
.title {
  text-align: center;
  padding: 20px;
  font-size: 40px;
}

.info-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  visibility: hidden;
}

.show {
  visibility: visible;
}

/* .full-container {
  display: flex;
  justify-content: center;
} */

.word-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 420px;
  width: 100%;
  gap: 5px;
  margin: 10px auto; /* top bottom margin 10px left right takes the whole space*/
}
.scoreboard-letter {
  height: 80px;
  width: 80px;
  border: 2px solid grey;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  text-transform: uppercase;
}

/* define the outcome of the letter when it changes */

.correct {
  background-color: darkgreen;
  color: white;
}

.present {
  background-color: goldenrod;
  color: white;
}

.absent {
  background-color: grey;
  color: white;
}

/* add flash animation when the word entered is invalid */

.invalid {
  animation: flash 2s; /* flash is not user defined property*/
}

/* defined flash */
@keyframes flash {
  5% {
    border-color: crimson;
  }
  100% {
    border-color: #ccc;
  }
}

/* spin the loading */
.loading-indicator {
  animation: spin 0.4s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(180deg);
  }
}

/* add animation when the user wins */

.winner {
  animation: rainbow 4s infinite linear;
}

@keyframes rainbow {
  /* to form a loop the color from 0% and 100% is set to the same color*/
  100%,
  0% {
    color: rgb(255, 0, 0);
  }
  8% {
    color: rgb(255, 127, 0);
  }
  16% {
    color: rgb(255, 255, 0);
  }
  25% {
    color: rgb(127, 255, 0);
  }
  33% {
    color: rgb(0, 255, 0);
  }
  41% {
    color: rgb(0, 255, 127);
  }
  50% {
    color: rgb(0, 255, 255);
  }
  58% {
    color: rgb(0, 127, 255);
  }
  66% {
    color: rgb(0, 0, 255);
  }
  75% {
    color: rgb(127, 0, 255);
  }
  83% {
    color: rgb(255, 0, 255);
  }
  91% {
    color: rgb(255, 0, 127);
  }
}

.test {
  height: 180px;
  width: 180px;
}
